body {
    background-color: rgb(64, 152, 252);
    font: normal 15pt Arial;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background-color: #fff;
    width: 50%;
    border-radius: 5px;
    padding: 16px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.212);
    text-align: center;
}

footer {
    color: #fff;
    font-style: italic;
    text-align: center;
}

.teste {
    font-size: 90px;
}