body {
    background-color: #e42987;
    font: normal 15pt Arial;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background-color: #fff;
    width: 50%;
    border-radius: 5px;
    padding: 16px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.212);
    text-align: center;
}

#content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: column;

}

.button  {
    padding: 8px;
    background-color: #e42987;
    border-radius: 4px;
    border: 0px solid;
    color: #fff;
}

#result {
    font-size: 24px;
}

.button:hover {
 background-color: #dd609f;
 cursor: pointer;
}

footer {
    color: #fff;
    font-style: italic;
    text-align: center;
}